<div class="sidebar">
  <div class="py-4 px-6">
    <h1 class="text-white font-bold text-lg logo">Administración</h1>
  </div>
  <ul>
    <li>
      <a
        routerLink="/conceptos"
        routerLinkActive="active-link"
        class="block py-2 px-6 text-white hover:bg-gray-700"
        >Conceptos</a
      >
    </li>
    <li>
      <a
        routerLink="/alumnos"
        routerLinkActive="active-link"
        class="block py-2 px-6 text-white hover:bg-gray-700"
        >Alumnos</a
      >
    </li>
    <li>
      <a
        routerLink="/diagrama"
        routerLinkActive="active-link"
        class="block py-2 px-6 text-white hover:bg-gray-700"
        >Diagrama</a
      >
    </li>
    <li>
      <a
        routerLink="/calculadoras"
        routerLinkActive="active-link"
        class="block py-2 px-6 text-white hover:bg-gray-700"
        >Calculadoras</a
      >
    </li>
  </ul>
</div>
