<ul>
  <li>
    <a
      routerLink="/efectividad_cotidiana"
      routerLinkActive="active-link"
      class="block py-2 px-6 text-black hover:bg-gray-700 hover:text-white"
      >Efectividad Cotidiana</a
    >
  </li>
  <li>
    <a
      routerLink="/efectividad_empresarial"
      routerLinkActive="active-link"
      class="block py-2 px-6 text-black hover:bg-gray-700 hover:text-white"
    >
      Efectividad Empresarial</a
    >
  </li>
  <li>
    <a
      routerLink="/efectivdad_eficiencia_eficacia"
      routerLinkActive="active-link"
      class="block py-2 px-6 text-black hover:bg-gray-700 hover:text-white"
      >Efectividad, Eficiencia y Eficacia</a
    >
  </li>
  <li>
    <a
      routerLink="/rio"
      routerLinkActive="active-link"
      class="block py-2 px-6 text-black hover:bg-gray-700 hover:text-white"
      >RIO</a
    >
  </li>
</ul>
